# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/server
/cmd/server/server
/cmd/server/__debug*
/storage/*

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test & coverage
*.test
*.out
coverage.html

# Dependency
/vendor/

# Build output
/bin/
/dist/
/tmp/
